/* For mobile phones */
.form-container,
.container-input__field,
.complete-name__field {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.complete-name__fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 16px;
}

/* For tablet, desktop and large devices */
@media only screen and (min-width: 601px) {
  .form-button {
    display: flex;
    flex-direction: row-reverse;
  }
}
