/* For mobile phones */
.order-details {
  display: flex;
  gap: 10px;
  width: 100%;
}

.order-details img {
  flex: 0.5;
}

.order-details__container {
  flex: 1;
}

.order-details__product-name {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1rem;
}

.order-details__prices {
  font-size: 0.9rem;
}

.order-details__container,
.order-details__prices {
  display: flex;
  flex-direction: column;
}

.order-details__unit-price,
.order-details__total-price {
  display: flex;
  justify-content: space-between;
}

/* For tablet, desktop and large devices */
@media only screen and (min-width: 601px) {
  .order-details {
    justify-content: space-between;
    gap: 100px;
  }

  .order-details img {
    flex: 1;
  }

  .order-details__container {
    flex: 2;
  }
}
