* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-brown: #592e42;
  --color-primary-yellow: #f2b366;
  --color-primary-orange: #d98841;
  --color-primary-white: #f2e4d8;
  --color-primary-red: #bf665e;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
#app {
  height: inherit;
  width: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: auto;
}

main {
  flex: 1 0 auto;
}
