* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-brown: #592e42;
  --color-primary-yellow: #f2b366;
  --color-primary-orange: #d98841;
  --color-primary-white: #f2e4d8;
  --color-primary-red: #bf665e;
}

html,
body,
#root,
#app {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: auto;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  width: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif")
    center no-repeat;
  z-index: 999;
}
