/* For mobile phones, tablet, desktop and large devices  */
.home-header {
  width: 100%;
  max-width: 1600px;
  height: auto;
}

.home-header__cover {
  width: 100%;
  min-height: 200px;
  max-height: 450px;
  object-fit: cover;
}
