/* For mobile phones */
.header__navbar__profile-links {
  display: none;
}

.header__navbar__overlay-profile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.header__navbar__username p {
  margin: 0 1rem;
  color: var(--color-primary-brown);
}

.header__navbar__wishlist,
.header__navbar__cart {
  margin: 10px;
}

.header__navbar__login a,
.header__navbar__register a {
  margin: 10px;
  color: var(--color-primary-brown);
  text-decoration: none;
  cursor: pointer;
}

/* For tablet and desktop */
@media only screen and (min-width: 601px) {
  .header__navbar__profile-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .header__navbar__profile {
    color: var(--color-primary-brown);
  }

  .vertical-line {
    width: 1px;
    height: 30px;
    background-color: var(--color-primary-brown);
  }
}
