/*For mobile phones*/
#profile-name-title {
  font-size: 1.5em;
  font-weight: bold;
}

#container-horizontal-line {
  padding: 0;
  height: 0;
}

.my-data-subtitle {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.35rem;
}

.profile-data li {
  padding: 18px 0;
  height: 6rem;
}

.profile-data li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.profile-data-link {
  display: flex;
  align-items: center;
}
