.navbar {
  width: 100%;
  height: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-white);
  color: var(--color-primary-brown);
}

.navbarTitle {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.navbarTitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .navbarToggleButton {
    display: none;
  }
}

.navbarToggleButton:hover {
  cursor: pointer;
}

.displayMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
  z-index: 5;
  background-color: var(--color-primary-brown);
  color: var(--color-primary-white)
}