/* For mobile phones */
.cart-item__field,
.cart-item__product-name {
  display: block;
}

.cart_item__image-name {
  width: 120px;
  height: 120px;
}

.cart-item__product-name {
  font-weight: 600;
}

.cart-item__field {
  font-size: 0.9rem;
}
